language: node_js
node_js:
- '0.12'
env:
  global:
  - secure: "fEoC5yuauEgf0kDqAyHwjwgRE9q8+oO4oL5mt1z4ju7CB5uZOCMhtd9kLsJPY8gN8FRK7jM+qcpedJ7uiFu1go6nmE4ks3/UyQXlUvQtWKwJVqK8qOgWZiBpIxUOOZ2mm27aXsjWLWdi6u8Z/DLAqmNfm5e5iHDUJM6aNqkCUElcjPkitSPu1jaHdZcH5RcviWDbCoWbTbW7+1yn2OLIv+ONCqq2Ywmvc/n+tN8y8NZiesJOgWMPbtpKjOwclJoQifnBAdZrUnlKZ/crSzKODb7/cLhJ5tRsEXKHyUbLZxD/ldZl3HSmdR2v9FtJjYDuMa7KpL1WrCJGPYzs/o0w7BBWi9o4OB0uAiSF8yYQOhazN1fLijrb+4HwV/t1DEzi3LrhwaJIh5QUezKz9i0ZtMkoyIdzvjySQU4JpNGfWnqXKeEVWjL8GPDaLeVqmmuIht0dVlM+Nb//B3KdpOmmTH8/aKrHROdFyWvV+0wp2OvamFjewNBnsU3sEhHwWharas0Em6tpFQ8G1EBglavmmBB1UlB4KRe/DbFWW26LvSSq0AzAsHpNT6fwD2JtzzFabHF8ZSdx2SM5sf4PR7yuROsejBNc6uhoW5lEFrdkHpfUfsMk8DQ4r/rS4pI7vPtrSbzjj41+q6mjhDxiyU0oKsN5R70hGdiDbg/nr572xRY="
  - secure: "pj8rEQm5ArtdYOr60O/pmNwJlvBVOlEjzcbRgDcSVJ8tl6ySDS5QPKZoAEbUub1CIxEqTg/XyD8FBxikIeS3VnVGwtBKFolLfYvrj21tn4EKpxxYW2qbCXOVBpn71H3UVMu7JCq1ftKqERSY4zYRGgU9lKUxa4+fMySYOgpfS+AJ5AHe09nHzHZXxWca5Ih8oDqio6+RJwwrBOnUopWBbeUllo7457HV3cqIwnamb8FxUiY6XouRkmv0S++eXAyTrkMtOysTmwe0HnsmodjqUtBOVf31cHQRnDiVmE35mOfJEHvN2M6nJ5t6UaQHvEGcBqClOsOxrkYy88xCMKMmxcyex28O84Ge+iE6XcvrFOW35f08KND7EE2WguV96H3xYjrtGByH3xwImI+u7XwDeo/Tx7/PcrRi0ygYFi5MwQCl8zhPEjtg5D4Qv7NxJfBIkV7bMTHSyEAr/OS8aeD9+un1EVwiIar0rblAZ50H8TQPB2Ez79NbAlHp9etFI93ZWLjYQLdEcsKnM+gwmJeZ+zLhpCAkR1ONgajI8Z6S5An/OHWFotcUpPgUHmINBCUMdSKiyPjpV0IPmPPXruIXrxjTasPgHlpO1BPZ1zNTtax1/luNMj7ChCpb6kQ26tDH1Rn8oQDMY0PNjYkLo0C4+1KyjNQp7ID05C6MoEgHzCk="
branches:
  only:
  - develop
  - master
cache:
  directories:
  - node_modules
deploy:
  provider: npm
  email: contact@makemepulse.com
  api_key:
    secure: tKdp4/Xvu83IwtTahMHj8To2u9qa45MLco29i6tu9H2mjwyPHMjj4tUJYySdpBnPUSpFT3e+nlUS7H+pWPbLhqIG5ZYmtaM08EdT09mkv/IrT6IRNAyj1IAN6E6wtTQzHLgh0U8e+sjjdndLz8NbfYc4h+oc09RSeufLTjs5FFtOoCZQPieFRGiksZbuchNAkCS6h8Es0jCNFJdrzhUh9Ws1sR816O9lAY4NjoZuv4Gq8Jhv6bFl9h+KPOy0S4DXxlcde2tMZ1u+vuznw4gpP3FhUV9AXOAYnuyPT2XkCtPnZNVj+i/E6EwZeVbnpc6HRcWxA7qmNIfGLaKeCZL8MuWO4hMc/kqLHAhJPSb5/mpj4nwkEZhUnxKCERw2OJcbHQHp1MVLB39Q7L9WiQWBXTePwd92KYzMXb3J0aHRPl6V7ZNSjdk1AKw8Y8J72tb2icDQ+0k4eepZohFduC+hWB9ISPg+67ndXfM/zW18ynIqyyyKJM5zCzJbD/MGVYPgbz+Dl9U6zFuQgcKRO+CBcFZQVfU0uD4MUY7KnCyxTErLKyv5oqIr0Us/fCdtDcYS9RqAZFbB/gU+hICGc4jITEJ+FX4GaAh5AKAypvZ3FBiAWuYKCQeMEpuVtLdvU7Vn4KZ/w4Eifuz53qQjHpvfQm6UJeD9bjKXIhYaVnu6YFA=
  on:
    branch: master
    repo: plepers/nanogl
